
.mainhome-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

  
}

.mainhome-hero {
  width: 100%;
  min-height: 88vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  
  padding-bottom: 3rem;
    /* padding: 4rem 1rem; */
  /* background: url(../../assets/homepagebg.png) no-repeat center center/cover; */
  background: linear-gradient(rgba(164, 229, 244, 0.41), #c5d6a071, #89ea89db);
}

.hero-content {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 2rem;
}

.mainhome-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.buttons-h {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* flex-wrap: wrap; */
}

.btn-h {
  padding: 1.2rem 4rem;
  background-color: rgb(16, 165, 16);
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  border: 5px solid transparent;
  box-shadow: 0px 5px 7px rgb(19, 19, 19);
}

.btn-h:hover {
  background-color: rgb(28, 78, 188);
  transform: scale(1.03);
  /* border: none; */
}

.allpages {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}


@media (max-width: 768px) {
  .mainhome-heading {
    font-size: 2rem;
  }

  .buttons {
    gap: 3rem;
    flex-direction: column;
  }

  .btn {
    width: 100%;
    max-width: 250px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .mainhome-heading {
    font-size: 1.8rem;
  }
  .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}

@media (max-width:375) {
  .mainhome-heading {
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.5rem 0.8rem;
    font-size: 0.4rem;
  }
}
