.product-section {
  min-height: 90vh;
  padding: 2rem 4rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2rem;
 margin-bottom: 2rem;
 background-color:#999999;
}


.product-heading{
  font-size: 1.5rem;
  font-weight: bold;

}

.product-cards{
  /* border: 2px solid red; */
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.pro-cards{
  /* border: 1px solid rgb(19, 19, 19); */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  overflow: hidden;
}

.pro-img{
  height: 12rem;
  /* border: 2px solid rgb(14, 13, 13); */
  /* border-radius: 10px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.3rem; */

  margin-top: 1.5rem;
  padding: 1px 15px;
}

.pro-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}


.pro-cards:hover{
  transform: scale(1);
  box-shadow: 0px 0px 10px rgb(52, 86, 115);

}

.pro-cards h4 ,p{
  margin: 0;
  padding: 6px ;
}



@media (max-width:650px) {
    .product-section{
      padding: 2rem 1rem;

    }
    .product-heading{
      font-size: 1.1rem;
    }

    .pro-cards{
      width: 12rem;
      height: 18rem;
      gap: 0.2rem;
    }
    .pro-img{
      height: 10rem;
    }
}

@media (max-width:480px) {
  .product-cards{
    gap: 1rem;
  }

  .product-section{
    padding: 0;
  }


}
