.myproducts-container {
    min-height: 88vh;
    /* border: 3px solid black; */
    padding: 50px;
  text-align: center;
  /* margin-top: 2rem; */
}

.myproducts-container h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-btn {
  background-color: #27ae60;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-btn:hover {
  background-color: #219150;
}

.edit-button {
  /* flex: 1; */
  background: #28a745;
  border: none;
  color: white;
  padding: 10px 25px;

  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-button:hover {
  background: #0d631f;
  /* color: blue; */
}

.delete-button {
  /* flex: 1; */
  background: #ff9800;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover {
  background: #d28107;
  /* color: blue; */
}
.products-grid {
    /* border: 2px solid black ; */
    width:100%;
    /* width: 70rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: auto ,auto,auto;
    gap: 2rem;
}

.product-card {
    border: 2px solid grey;
    width: 18rem;
  background: #ffffff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}


.image-wrapper{
  border-radius: 15px;
  overflow: hidden;
  height: 150px;
  object-fit: cover;
  /* object-position: center; */


}

.card-body{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location-f {
  display: flex;
  gap: 15px;
}